*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
#popUpMain{
    width:100%;
    height: 100%;
    background-color:rgba(20,30,30,0.6);
    z-index: 1;
    position: fixed;
    display: none;
}
#popup{
    width:500px;
    height:300px;
    background-color:red;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position:absolute;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a{
    display: inline-block;
}
header .navbar{
    background-color: #f5f5f5;
    border-bottom: 7px solid #f5f5f5;
    border-top:7px solid #21baff;
}
.navbar-collapse{
    flex-grow: 0;
}
header nav .nav_wrap ul li a{
    font-size: 18px;
    color:#504578;
    margin:0 10px;
}
header nav .nav_wrap .btn{
    background-color: #20b4ff;
    color: #f5f5f5;
    border-radius: 30px;
    font-size: 18px;
    border: none;}
header nav .nav_wrap ul li a:hover{
    color:#0091bf;
}
.home_sec{
    position: relative;
}
.home_sec{
    padding: 80px 0;
}
.home_sec .heading h3{
    color: #0091bf;
    font-size: 37px;
    font-weight: 600;
    margin-bottom: 25px;
}
.home_sec .left{
    background-color: #003b5f;
    position: relative;
   padding: 50px 12px 140px 0px;
}
.home_sec .left::before{
    position: absolute;
    content: "";
    z-index: -1;
    width: 400px;
    height: 100%;
    background-color: #003b5f;
    left: -65%;
    top: 0;
}
.home_sec .left h4{
    color: #ffff;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 500;
}
.home_sec .left .accordion-item{
    background-color: #003b5f ;
    color: #ffff;
    border-left:none;
    border-right:none;
    font-size: 15px;
}
.home_sec .left .accordion-button:focus
{
    box-shadow: none;
}
.home_sec .left .accordion-button{
    font-weight: 500;
    background-color: #003b5f;
    color: #ffff;
    padding-left: 0;
    font-size: 16px;
}
.home_sec .left .accordion-button::after {
    background-image: url("../images/chevron-right.png");
    background-size: contain;
    transition: 0.5s;
   
}
.home_sec .left .accordion-button:not(.collapsed)::after {
  
    transform: rotate(90deg);
}
.home_sec .right{
    padding: 55px 12px 30px 12px;
}
.home_sec .right h3{
    font-size: 25px;
    color: #00b7ff;
    font-weight: 600;
margin-bottom: 15px;}
.home_sec .right p{
    font-size: 18px;
    color: #000;
    font-weight: 600;
    margin-bottom: 30px;
}

.home_sec .right input,.home_sec .right select{
    border-radius: 40px;
    font-size: 17px;
}
.home_sec .right .checkbox_wrap{
    display: flex;
    align-items: center;
    max-width: 350px;
}
.home_sec .right .FORM_SUBMIT{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start
}
.home_sec .right .FORM_SUBMIT .checkbox{
    border-radius:0;
}
.home_sec .right .FORM_SUBMIT label{
    font-size: 18px;
}
.home_sec .right button{
    font-size: 16px;
    border-radius: 40px;
    background-color: #00b8ff;
    border: none;
    padding: 10px 20px;
}

footer{
    background-color: #003a5c;
    padding:50px 0;
}
footer .footer_uper {
    border-bottom: 1px solid #ffff;
    padding-bottom: 30px;
}
footer .footer_uper .left ul{
    margin-bottom: 25px;
    padding-left: 12px;
}
footer .footer_uper .left ul li a{
    font-size: 16px;
    color:#f5f5f5;
    margin-bottom: 5px;
    font-weight: 300;
}
footer .footer_uper .left ul li a.heading{
    font-weight: 500;
    margin-bottom: 15px;
    position: relative;
}
footer .footer_uper .left ul li a.heading::after{
    position: absolute;
    content: "";
    bottom: -9px;
    left: 0;
    width: 55%;
    height: 2px;
    background-color: #ffff;
}
footer .footer_uper .right img{
    margin-bottom: 40px;
}
footer .footer_uper .right a, footer .right p{
    font-size: 16px;
    color:#f5f5f5;
    margin-bottom: 20px;
    font-weight: 300;
}
footer .right i{
    color: #ffff;
    padding-right: 20px;
    font-size: 22px;
    margin-top:10px;
}
footer .footer_uper .right .number{
    position: relative;
}
footer .footer_uper .right .number::after{
    position: relative;
    position: absolute;
    content: "";
    bottom: -9px;
    left: 0;
    width: 55%;
    height: 2px;
    background-color: #ffff;
} footer .footer_bottom{
    padding-top:20px;
}
footer .footer_bottom p,footer .footer_bottom p a{
    color: #fff;
    font-size: 16px;
    text-align: right;
    font-weight: 300;
}
@media (max-width:767.98px){
    header nav .nav_wrap ul li a {
        font-size: 14px;}
        header nav .nav_wrap .btn {
            font-size: 14px;
            padding: 3px 10px;
        }
    .home_sec{
        padding: 30px 0;
    }
    .home_sec .left {
        padding: 20px 12px 40px 0px;
    }
    .home_sec .left .accordion-button {
        font-size: 14px;
        font-weight: 400;
    }
    .home_sec .left .accordion-item {
        font-size: 15px;
        font-weight: 300;
    }
    .home_sec .left h4 {
        font-size: 22px;
        margin-bottom: 20px;
        font-weight: 400;
    }
    .home_sec .right {
    padding: 30px 12px 30px 12px;
}
.home_sec .right h3 {
    font-weight: 400;
}
.home_sec .right p {
    font-size: 16px;
    font-weight: 400;
}
.home_sec .right input,.home_sec .right select{
    font-size: 13px;
}
.home_sec .right .FORM_SUBMIT label{
    font-size: 14px;
}
footer .footer_bottom p, footer .footer_bottom p a {
    text-align: center;
    font-size: 14px;
}
footer .footer_uper .right a, footer .right p {
    font-size: 14px;
}
footer .footer_uper .left ul li a {
    font-size: 14px;
}}

@media (max-width:575.98px){
    footer ul li a{
        font-size: 13px;
    }
    .home_sec .heading h3 {
        font-size: 31px;
        font-weight: 500;
        margin-bottom: 15px;
    }
}
